<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="simpleBean" class="org.springframework.mytest.SimpleBean"></bean>
	<bean id="simpleBean2" class="org.springframework.mytest.SimpleBean2">
		<property name="simpleBean" ref="simpleBean"></property>
	</bean>

<!--	<bean id="simpleBean2" class="org.springframework.mytest.SimpleBean2">-->
<!--		<constructor-arg ref="simpleBean"></constructor-arg>-->
<!--	</bean>-->

<!--	<bean id="myFactoryBean" class="org.springframework.mytest.MyFactoryBean"></bean>-->
<!--	<bean id="simpleBean2" class="org.springframework.mytest.SimpleBean2" factory-bean="myFactoryBean" factory-method="createSimpleBean"></bean>-->

</beans>